.git
.gitignore
log/*
tmp/*
!log/.keep
!tmp/.keep
public/system
public/assets
.env
.env.local
.env.*.local
docker-compose.yml
Dockerfile
.dockerignore
node_modules
vendor/bundle
storage/*
!storage/.keep
.byebug_history
.rspec
spec/
test/
